{
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@workers/(.*)$",
    "",
    "^@/(.*)$",
    "",
    "^[.]"
  ],
  "importOrderTypeScriptVersion": "5.9.3"
}
